/* ФИКСАЦИЯ НАВБАРА */
.bar {
  position: sticky;
  top: 0;
  background-color: #2c3e50; /* Тёмно-синий фон */
  z-index: 1030;
}

/* ЦВЕТ ТЕКСТА В НАВБАРЕ */
.logo {
  color: #ecf0f1 !important; /* Светлый текст */
}

.search_input {
  border: none;
  border-radius: 25px 0 0 25px; 
  padding-left: 20px;
}

.search_input:focus {
  box-shadow: none;
}

.search_icon {
  border: none; 
  border-radius: 0 25px 25px 0; 
  color: rgb(35, 35, 35);
  cursor: pointer;
  padding: 0.375rem 1rem;
}

.search_icon:hover {
  color: #2980b9; 
}

.input_group:focus-within {
  border-radius: 25px;
  box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.3);
}

.mobile_search_icon {
  color: #ecf0f1; 
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem;
}

.mobile_search_icon:hover {
  color: #3498db; 
}